# Site Settings
title: LESS
tagline: LESS
email: hildebrandt.carl@virginia.edy
description: >
  Laboratory for Engineering Safe Software
baseurl: "/"

url: https://less-lab-uva.github.io
permalink: pretty
repository: "less-lab-uva"
favicon: /favicon/favicon.ico
contact: /contact
#hide_share_buttons: true

# Disqus Comments
disqus:
  # Leave shortname blank to disable comments site-wide.
  # Disable comments for any post by adding `comments: false` to that post's YAML Front Matter.
  # shortname: my_disqus_shortname
  shortname: csrhymes


plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-feed
  - jekyll-seo-tag
  - kramdown
  - rouge

exclude: 
  - Gemfile
  - clean-theme.gemspec
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

livereload: true

sass:
  style: compressed
  source_dir: _sass

#google_analytics: UA-code-here

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      show_sidebar: true
  -
    scope:
      path: ""
      type: "posts"
    values:
      author: "C.S. Rhymes"
      layout: post
      image: https://via.placeholder.com/1200x800
      show_sidebar: true

markdown: kramdown
highlighter: rouge

footer_menu: example_footer_menu

collections:
  projects: 
    output: true
    layout: project
    show_sidebar: false
  publications: 
    output: true
    layout: publication
    show_sidebar: false
  team: 
    output: true
    layout: team
    show_sidebar: false
  gallery: 
    output: true
    layout: gallery
    show_sidebar: false
  tools: 
    output: true
    layout: tool
    show_sidebar: false