<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>

    <div id="particles-js" class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">

        <div class="front-page-header">

            <div class="card-image has-text-centered">
                <figure class="image is-inline-block">
                    <img src="../images/logo.png"/>
                </figure>
                <!-- <h1 class="title is-2">{{ page.title }}</h1> -->
                <p class="is-2">{{ page.content | markdownify }}</p>
            </div>

            <br>
            <br> <!-- This is really bad I know but I do not know any better :P-->
            <br>
            <br>
            <br>

            <div class="card-image has-text-centered"></div>
                <div class="columns">
                    <div class="column is-4">
                        <figure class="image is-128x128 is-inline-block">
                            <img src="../images/sponsors/nsf.png">
                        </figure>
                    </div>
                    <div class="column is-4">
                        <figure class="image is-128x128 is-inline-block">
                            <img src="../images/sponsors/darpa.png">
                        </figure>
                    </div>
                    <div class="column is-4">
                        <figure class="image is-128x128 is-inline-block">
                            <img src="../images/sponsors/airforce.png">
                        </figure>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
