---
title: "Towards Self-Verification In Finite Difference Code Generation"
abstract: "Code generation from domain-specific languages is becoming increasingly popular as a method to obtain optimised low-level code that performs well on a given platform and for a given problem instance. Ensuring the correctness of generated codes is crucial. At the same time, testing or manual inspection of the code is problematic, as the generated code can be complex and hard to read. Moreover, the generated code may change depending on the problem type, domain size, or target platform, making conventional code review or testing …"
date: 2017-01-01
venue: "Proceedings of the First International Workshop on Software Correctness for HPC Applications, CORRECTNESS@SC 2017, Denver, CO, USA, November 12, 2017"
paperurl: https://dl.acm.org/doi/abs/10.1145/3145344.3145488
authors: "Jan H\"uckelheim, Ziqing Luo, Fabio Luporini, Navjot Kukreja, Michael Lange, Gerard Gorman, Stephen F. Siegel, Matthew B. Dwyer and Paul D. Hovland"
awards: ""
---