---
layout: default
show_sidebar: false
---

<div class="columns is-multiline">

  <div class="column is-12 content">
    {{ content }}
  </div>

  {% assign sorted_projects = site.projects | sort:page.date %}
  {% for project in sorted_projects reversed%}
  <div class="column is-12-desktop is-12-tablet">
    
    {% if project.label == page.label %}
      <div class="card">
        <a name="{{ project.id | remove: '/projects/' }}"></a>
        {% if project.image %}
        <div class="card-image">
          <figure class="image {% if project.image_ratio %} {{ project.image_ratio }} {% else %} is-3by1 {% endif %}">
            <img src="{{site.baseurl}}{{ project.image }}" alt="{{ project.title }}" />
          </figure>
        </div>
        {% endif %}

        <div class="card-content is-8-desktop is-12-tablet">
          <h2 class="title is-3">{{ project.title }}</h2>
          <div class="content">{{ project.content }}</div>  
          <br/>
          {% if project.team %}
            <div class="content"><b>Team Members:</b> {{ project.team }}</div>
          {% endif %}
        </div>
      </div>
      {% endif %}

  </div>
  {% endfor %}
</div>