---
layout: default
show_sidebar: false
---

<div class="columns is-multiline">
  <div class="column is-12 content">
    {{ content }}
  </div>
</div>

{% assign postsByYear = site.publications | group_by_exp:"post", "post.date | date: '%Y'" %}

  {% for year in postsByYear reversed%}
  {% assign sortedPublications = year.items | sort:"title" %}
  <div>
    <div class="divider">{{ year.name }}</div>
  </div>

  {% for publication in sortedPublications  %}

  <div class="columns is-multiline">

    <div class="column is-12-desktop is-12-tablet">
      <div class="{{ include.type | default: "list" }}__item">
            <h2 class="title is-5">{{ publication.title }} {% if publication.paperurl %} - <a href="{{ publication.paperurl }}">View paper</a> {% endif %}</h2>
            <h2 class="subtitle is-6">
            {% if publication.authors %}
              {{ publication.authors }} <br/>
            {% endif %}
            {% if publication.venue %}
              {{ publication.venue }} 
            {% endif %}
            </h2>

      </div>
    </div>

  </div>

  {% endfor %}

{% endfor %}