---
layout: default
---

{% if page.toc %}
    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}
<div class="content">
    {{ content }}
</div>

{% for tool in site.tools %}
    <section class="showcase">
        {% if tool.image %}
        <figure class="image {% if tool.image_ratio %} {{ tool.image_ratio }} {% else %} is-13by1 {% endif %}">
            <img src="{{ tool.image | relative_url }}" />
        </figure>
        {% endif %}
        <div class="showcase-content">
            <div class="columns is-centered">
                <div class="column is-8-desktop is-12-tablet">
                    <p class="title">{{ tool.title }}</p>
                    <p class="subtitle">{{ tool.subtitle }}</p>

                    {% if tool.github %}
                    <div class="buttons is-centered">
                        <a href="https://github.com/{{ tool.github }}/stargazers" class="button is-white is-small">
                            <img alt="GitHub stars" src="https://img.shields.io/github/stars/{{ tool.github }}?style=social">
                        </a>
                        <a href="https://github.com/{{ showcase.github }}/network/members" class="button is-white is-small">
                            <img alt="GitHub forks" src="https://img.shields.io/github/forks/{{ tool.github }}?style=social">
                        </a>
                        <a href="https://github.com/{{ tool.github }}/watchers" class="button is-white is-small">
                            <img alt="GitHub watchers" src="https://img.shields.io/github/watchers/{{ tool.github }}?style=social">
                        </a>
                    </div>
                    {% endif %}
                    
                    <div class="content">
                        <p>{{ tool.content }}</p>
                    </div>                 

                    <a href="{{ tool.button_link }}" class="button is-primary">
                        Visit Website
                    </a>
                </div>
            </div>
            {% if tool.team %}
                <div class="content"><b>Team Members:</b> {{ tool.team }}</div>
            {% endif %}
        </div>
    </section>
{% endfor %}
